/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* Import tailwind */
@import "tailwindcss";
/* Import DaisyUI */
@plugin "daisyui";

:root {
  --navbar-height: 50px;
}

body {
  padding-top: var(--navbar-height);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Add custom styles to tailwind */
@theme {
  --color-fabflix-primary: rgb(14, 93, 167);
  --color-fabflix-secondary: #1f2126;

  --font-logo: "Lexend", serif;

  --animate-dissolve-right: dissolveRight 1s 0s;

  @keyframes dissolveRight {
    from {
      transform: translateX(-40px);
      opacity: 0%;
      color: rgb(14, 93, 167);
    }
    to {
      opacity: 100%;
      color: white;
    }
  }
}
